<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ReportNG  Suite" verbose="1">
    <!--<listeners>-->
        <!--<listener class-name="utils.TestListners"/>-->
    <!--</listeners>-->
    <test name="Login Test" >
        <classes>
            <class name="tests.LoginTest" />
        </classes>
    </test>
</suite>